* {
    bg-col:  #141216;
    bg-col-light: #AC82E9;
    border-col: #141216;
    selected-col: #27232B;
    blue: #AC82E9;
    fg-col: #D8CAB8;
    fg-col2: #D8CAB8;
    grey: #D9E0EE;
    width: 600;
}

